.left_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100vh;
  border-right: 1px solid #dddddd;
  -webkit-box-shadow: 10px 4px 19px -8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 4px 19px -8px rgba(0, 0, 0, 0.35);
  box-shadow: 10px 4px 19px -8px rgba(0, 0, 0, 0.35);
  padding: 30px;
  background: #ffffff;

  .sidebar_icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .logo {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 150px;
    user-select: none;

    span {
      font-size: 22px;
    }

    h1 {
      font-family: "Roboto mono", monospace;
      font-optical-sizing: auto;
      font-style: normal;
    }
  }

  .left_content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .reset_btn {
      border: 1px solid #333;
      display: inline-block;
      width: 100px;
      height: 30px;
      cursor: pointer;
    }

    .image_area {
      border: 2px dashed #ccc;
      border-radius: 4px;
      padding: 20px;

      text-align: center;
      min-height: 350px;
    }

    .inputs {
      border: 1px solid #dddddd;
      display: flex;
      padding: 0 12px;
      background: #ffffff;

      label {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      > input {
        border: 0;

        &:focus {
          outline: none;
        }
      }

      &.active {
        border: 1px solid #3e68a8;
      }
    }
  }

  .submit_btn {
    padding: 8px 10px;
    // border-radius: 5px;
    // border: 1px solid #3e68a8;
    display: inline-flex;
    width: 40px;
    height: 34px;
    align-self: center;
    color: #ffffff;
    font-size: 0;
    cursor: pointer;
  }

  &.open {
    width: 110px;
    align-items: flex-start;
    transition: all ease-in-out 0.1s;
    .logo {
      span {
        display: none;
      }
      h1 {
        display: none;
      }
    }

    .left_content {
      display: none;
    }

    + .right_container {
      padding: 30px 30px 30px 130px;
    }
  }
}

.right_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 570px;
  padding: 30px 30px 30px 570px;

  .right_box {
    width: calc(100% - 30px);
    min-height: calc(100vh - 60px);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;

    &.empty {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .message {
      padding: 10px;

      &.user {
        // user
        align-self: flex-end;
        padding-right: 50px;
        background: url("../images/ic-user.png") no-repeat;
        background-size: 30px 30px;
        background-position: right 5px;
      }
      &.assistant {
        // gpt
        align-self: flex-start;
        background: #466ca6;
        color: #ffffff;
        border-radius: 5px;
      }
    }

    &.loading {
      align-items: center;
      justify-content: center;
    }
  }
}
